<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"> <!-- Link to local Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/css/login-registration/login-registration.css">
</head>
<body>
<div class="container">
    <h1>Login</h1>
    <form th:action="@{/login}" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"/>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
    <div th:if="${message}">
        <p th:text="${message}"></p>
    </div>
    <a class="register-link" href="/registrationPage">Register</a>
</div>
</body>
</html>