<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
</head>
<body>
<div class="container">
    <h1>Register</h1>
    <form th:action="@{/register}" th:object="${userForm}" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" th:field="*{username}" />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" th:field="*{password}" />
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" />
        </div>

        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" />
        </div>
        <div>
            <label for="surname">Surname:</label>
            <input type="text" id="surname" th:field="*{surname}" />
        </div>


        <div>
            <button type="submit">Register</button>
        </div>
    </form>
    <a class="register-link" href="/">Already have an account? Login</a>
</div>
</body>
</html>