<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"> <!-- Link to local Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/css/login-registration/login-registration.css">
</head>
<body>
<div class="container">
    <h1>Register</h1>
    <form th:action="@{/ui/register}" th:object="${userForm}" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" th:field="*{username}" />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" th:field="*{password}" />
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" />
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
    </form>
    <a class="register-link" href="/ui">Already have an account? Login</a>
</div>
</body>
</html>