<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/homepage">Monitoring</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/homepage">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/installations">Plants</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <a class="btn btn-outline-success my-2 my-sm-0" href="/logout">Logout</a>
    </div>
  </div>
</nav>
<head>
  <title>Installation Detail</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    h1 {
      color: #333;
    }
    form {
      margin: 20px 0;
    }
    label {
      display: block;
      margin: 10px 0;
    }
    input[type="text"] {
      padding: 10px;
      width: 100%;
      box-sizing: border-box;
    }
    button {
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
    }
    button:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>
  <h1>Installation Detail</h1>
  <!--<div>-->
  <!--  <p><strong>ID:</strong> <span th:text="${installation.id}"></span></p>-->
  <!--  <p><strong>Status:</strong> <span th:text="${installation.status}"></span></p>-->
  <!--  <p><strong>Location:</strong>-->
  <!--    Latitude: <span th:text="${installation.location.latitude}"></span>,-->
  <!--    Longitude: <span th:text="${installation.location.longitude}"></span>-->
  <!--  </p>-->
  <!--  <p><strong>Owner:</strong> <span th:text="${installation.owner.name} + ' ' + ${installation.owner.surname}"></span></p>-->
  <!--</div>-->

  <div>
    <p>ID: <span th:text="${installation.id != null ? installation.id : 'N/A'}"></span></p>
    <p>Status: <span th:text="${installation.status != null ? installation.status : 'N/A'}"></span></p>
    <p>Location: <span th:text="${installation.location.latitude != null ? installation.location.latitude : 'N/A'} + ', ' + ${installation.location.longitude != null ? installation.location.longitude : 'N/A'}"></span></p>
    <p>Owner: <span th:text="${installation.owner != null ? installation.owner.name : 'N/A'}"></span></p>
    <!-- Add more fields as necessary -->
  </div>

  <h2>Historical Dates</h2>
  <div >
    <ul>
      <li th:each="date : ${installation.historicalDates != null ? installation.historicalDates : 'N/A'}">
        <!-- Displaying type and timestamp from HistoricalDate -->
        <p>Type: <span th:text="${date.type != null ? date.type : 'N/A'}"></span></p>
        <p>Timestamp: <span th:text="${#dates.format(date.timestamp, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
      </li>
    </ul>
  </div>

  <div th:if="${installation == null}">
    <p>Installation not found.</p>
  </div>

  <a th:href="@{/installations}">Back to list</a>
</body>
</html>
